.list-view .list-cell:even {
        -fx-background-color: tan;
}

.list-view .list-cell:odd {
        -fx-background-color: lightgrey;
}
/*
.list-view .list-cell:odd {
        -fx-background-color: -fx-control-inner-background;
}
*/
.list-view .text-field-list-cell .text-field {
        -fx-background-color: yellow;
}

